* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 16px;

}
.container {
    min-width: 400px;
    box-shadow: 1px 1px 10px #ccc;
    padding: 15px;
    border-radius: 25px;
    
}
.menu {
    display: flex;
}
.menu-item {
/* background-color: red; */
flex-basis: 50%;
text-align: center;
padding: 10px;
border: 1px solid rgb(223, 223, 223);
font-weight: bolder;
font-size: 17px;
border-radius: 25px;
cursor: pointer;
transition: all 0.1s ease-out;
}

.menu-item:hover {
    color: white;
    border: 1px solid transparent;
    background-color: rgb(34, 202, 110);
}

.menu-item:nth-child(2) {
margin-left: 10px;
}
.form {
    margin-top: 25px;
    /* text-align: center; */
    padding-left: 70px;
    /* border-top: 1px solid rgb(231, 216, 216); */
    
}
.form

.input-grp {
margin-bottom: 15px;
}
.input-grp label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.input-grp input {
    min-height: 30px;
    padding: 5px;
    border: 1px solid rgb(223, 225, 225);
}
.input-grp input::placeholder {
    color: rgb(153, 153, 153);
}
.required {
    color: rgb(212, 41, 41);
}
.btn {
    padding: 10px 15px;
    border: 0;
    font-size: 16px;
    color: white;
    background-color: rgb(34, 202, 110);
    border-radius: 25px;
    cursor: pointer;

}

.btn:hover {
    background-color: rgb(24, 161, 86);
}

.btn-wrapper {
    margin-top: 25px;
    text-align: center;
}
.active {
    color: white;
    border: 1px solid transparent;
    background-color: rgb(34, 202, 110);
}

.result {
margin-top: 25px;
border: 1px solid rgb(225, 225, 225);
padding: 15px;
border-radius: 25px;
text-align: center;

}
